<%- include('template/header'); %>
<%- include('template/navbar'); %>
<%- include('template/sidebar'); %>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  
  <%- include('template/breadcrumb', {module: 'Usuarios del Sistema'}); %>


<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

    <a href="/createUser"><button class="btn btn-primary"><i class="fas fa-solid fa-plus"></i> Agregar</button></a>

    <hr>        

    <table class="table" id="usersTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
                <% results.forEach( (user)=>{ %>                                
                    <tr>
                        <th scope="row"> <%= user.id  %></th>
                        <td><%= user.name  %></td>
                        <td><%= user.email  %></td>
                        <td><%= user.rol  %></td>
                        <td>
                            <a href="/editUser/<%= user.id  %>" class="btn btn-info"><i class="fas fa-pen-to-square"></i> Editar </a>
                            <a onclick="confirmation(<%= user.id  %>)" class="btn btn-danger"><i class="fas fa-trash-can"></i> Eliminar </a>
                        </td>
                    </tr>                                     
                <% }) %>
        </tbody>
      </table>


      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->


  <%- include('template/footer'); %>